<section class='pt-5 mt-4'>

  <header class='d-flex justify-content-between align-items-center mb-3'>
    <h1 class='mb-0'><%= t('.header') %></h1>
    <%= link_to t('.new_category'), new_category_path, class: 'btn btn-primary' %>
  </header>

  <div id="categories">
    <% @categories.each do |category| %>
      <%= link_to category, class: 'text-black link-underline link-underline-opacity-0' do %>
        <%= render category %>
      <% end %>
    <% end %>
  </div>
</section>