<section class='pt-5 mt-4'>
  <%= render 'shared/link_back', specified_path: @transaction, text: @transaction.title %>

  <h1>Editing transaction</h1>

  <%= render "form", transaction: @transaction %>
</section>
